:root {
  --app-bar-size: 64px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100vw;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-from-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-to-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

:root {
    --transition-animation-old: fade-out;
    --transition-animation-new: fade-in;
    --transition-time: 210ms;
}

html[data-transition="ltr"] {
    --transition-animation-old: slide-to-right;
    --transition-animation-new: slide-from-left;
}

html[data-transition="rtl"] {
    --transition-animation-old: slide-to-left;
    --transition-animation-new: slide-from-right;
}

html[data-transition="fade"] {
    --transition-animation-old: fade-out;
    --transition-animation-new: fade-in;
}

::view-transition-old(main-part) {
    animation: var(--transition-time) ease both var(--transition-animation-old);
}

::view-transition-new(main-part) {
  animation: var(--transition-time) ease both var(--transition-animation-new);
}

::view-transition-old(app-bar) {
    animation: fade;
}
::view-transition-new(app-bar) {
    animation: fade;
}
